# Ignorer les fichiers générés par Eclipse
webelec/.metadata/
backend/.metadata/

# Ignorer les fichiers système
.DS_Store
Thumbs.db

# Ignorer les fichiers de logs
*.log

# Ignorer les fichiers de configuration locaux
*.dat
*.old

# Ignorer les fichiers uploadés
uploads/
backend/uploads/

# Ignorer les fichiers de build Maven
backend/target/

# Ignorer les fichiers de build Node.js
frontend/node_modules/
frontend/.next/
frontend/out/