spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/webelec_db
    username: webelec
    password: webelec_pwd
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
     hibernate:
    format_sql: true
    show-sql: true

server:
  port: 8080
